html
{
	font-size: 12px; 
}
body
{
	background-color: #01579b;
	font-size: 3rem;
	margin: auto;
	text-align: center;	
}
p
{
	text-align: center;
    color: #FFFFFF;
	font-size: 4rem;
	padding: 0;
	margin: 0;
}
ul
{
    list-style: none;
	padding: 0;
	margin: 0;
}​
ul li
{
	list-style-type: none;
}
a:hover
{
	background-color: #e65500;	
}
a:visited 
{
	color: white;	
}
a
{
	background-color: maroon;
	color: #FFFFFF;
	display: inline-block;
	font-size: 2rem;
	text-decoration: none;
	margin: 0.2rem;
	padding: 1rem;
}
#Tournaments
{
	background-color: #01579b;
	padding: 0;
}
.Social
{
	background-color: #01579b;
	padding: 1rem;	
}
.Social a
{
	margin: 0;
	padding: 1rem;
}
#facebook
{
	background: blue;
}
#twitter
{
	background: cyan;
}