body
{
	background-color: #00796B;
	font­size: 400px; 
	font­size: 3rem;
	margin: auto;
	text-align: center;	
}
p
{
	text-align: center;
    color: #FFFFFF;
	font-size: 4rem;
	margin: 0;
    padding: 0;	
}
ul
{
    list-style: none;
	padding: 0;
	margin: 0;
}​
li
{
	list-style-type: none;
	margin: 0;
}
a:hover
{
	background-color: #0096FF;	
}
a:visited 
{
	color: white;	
}
a
{
	color: #FFFFFF;
	font-size: 2rem;
	text-decoration: none;
}
#Tournaments
{
	background-color: #009688;
	padding: 2rem;
}
.Social
{
	background-color: #009688;
	padding: 1rem;	
}
.Social a
{
	padding: 1rem;
}
#facebook
{
	background: blue;
}
#twitter
{
	background: cyan;
}